html{
  font-size: 16px;
}
body{
  margin: 0%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #ced6ee;
}
.layout__navbar{
  padding: 0% 6%;
  background-color: #fff;
}
.layout-navbar__top{
  width: 100%;
  padding: 1.8% 0% 0.8%;
  display: flex;
  justify-content: space-between;
}

.layout-navbar__bottom{
  width: 100%;
  position: relative;
  padding: 2% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select{
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
  background: url("./resources/arrow-down.svg");
  background-size: 20% 20%;
  background-repeat: no-repeat;
  background-position: 100%;
} 

.language{
  min-width: 4ch;
}
.currency{
  padding-left: 0.8em;
  min-width: 6.8ch;
}
.navbar-top__select{
  position: relative;
  display: flex;
  justify-content: space-between;
}
  
.navbar-top__user{
  width: 26%;
  font-size: 90%;
  font-weight:100;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar-bottom__ecomm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-bottom__menu{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:1.1rem;
  font-weight: 500;
}
.menu:hover{color: #40BFFF;}
.bottom-ecomm__icon{
  width: 80%;
}
.bottom-ecomm__title{
  font-weight: bolder;
  padding-bottom: 0.3rem;
}
.profile-img{
  width:80%;
}
.top-user__profile{
  display: flex;
  align-items: center;
}
.user-profile__amount{
  color: #808080;
  display: flex;
  align-items: center;
}
.searchImg{
  width: 25%;
  padding-left: 0.34rem;
}
.user-profile__img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile__cart{
  position: relative;
}
.profile-cart__number{
  font-size: 70%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top:-32%;
  right: -36%;
  width: 1rem;
  height: 1rem;
  background-color: #FB7181;
  border-radius: 50%;
  border: 0.1rem solid #fff;
}
.layout__dropdown{
  width: 60%;
  position: absolute;
  top:8.6rem;
  right: 10rem;
  background-color: #fff;
  box-shadow: 0px -1px 2px 1px #F1F3F4;
  height: 18rem;
  padding: 2em 3em 1em 6em;
  margin: auto;
  display: none;
  grid-template-columns: repeat(2,1.5fr) auto;
  grid-template-rows: 1fr;
}
.layout-dropdown__category{
  display: grid;
  font-size: 0.9rem;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(6,1fr);
}
.dropdown-category__one,.dropdown-category__two{
  grid-area: 1/1/ span 1/span 2;
}
.dropdown-category__one,.dropdown-category__two,.dropdown-category__three{
  color: #C1C8CE;
  font-size: 1.2rem;
}
.dropdown__second-category{
  display: grid;
  font-size: 0.9rem;
  grid-template-columns: 1fr;
}
